# **RFM Analysis (Customer Segmentation)**

*M. Ruben (June 2019)*
***
<div style="text-align: justify">The objective of this notebook is to conduct customer segmentation using Recency-Frequency-Monetary (*RFM*) analysis. Customer segmentation divides a pool of customers into discrete customer segment who shares similar characteristic. *RFM* analysis divides groups of customers by focusing on three metrics: *Recency*, *Frequency* and *Monetary Value*. Based on these three metrics, markerters will be able to decide the most appropriate marketing strategy for a specific customer segment.</div>
***
**Acknowledgement**: The original dataset can be found in [this link](https://archive.ics.uci.edu/ml/datasets/Online%20Retail). 
***
# Contents<a id = 'TOC'></a>
- **[1. Modules](#1)** 
- **[2. Data Exploration](#2)**
    * [**2.1** *General overview*](#2.1)
    * [**2.2** *Data cleaning*](#2.2)
    <br><br>  
- **[3. Recency-Frequency-Monetary (RFM) Analysis](#3)** 
    * [**3.1** *Recency*](#3.1)
    * [**3.2** *Frequency*](#3.2)
    * [**3.3** *Monetary value*](#3.3)
    * [**3.4** *R-F-M table*](#3.4)
    * [**3.5** *R-F-M score*](#3.5)
    <br><br>  
- **[4. Key Segments](#4)**
    * [**4.1** *Best Customers*](#4.1)
    * [**4.2** *Loyal Customers*](#4.2)
    * [**4.3** *Big Spenders*](#4.3)
    * [**4.4** *Almost Lost*](#4.4)
    * [**4.5** *Lost Customers*](#4.5)
    * [**4.5** *Lost Cheap Customers*](#4.6)
    <br><br>

# 1. Modules <a id = '1'></a>

In [37]:
import pandas as pd
import numpy as np
from datetime import timedelta

[Back to Table of Content](#TOC)

# 2. Data Exploration <a id = '2'></a>

***
**2.1** *General overview*<a id = '2.1'></a>
***
This section shows a general overview of the data. The type of variables in the data are also explained.

In [38]:
# import csv into dataframe
full_df = pd.read_csv("CSV/data.csv", encoding="ISO-8859-1")

# show 5 first row
display(full_df.head())

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

* **InvoiceNo   :** *Unique ID to identify each invoice.*
* **StockCode   :** *Unique ID for each item.*
* **Description :** *A short description for each item.*
* **Quantity    :** *Number of items bought.*
* **InvoiceDate :** *Date when item was bought.*
* **UnitPrice   :** *The price of each item.*
* **CustomerID  :** *Unique ID for each customer.*
* **Country     :** *Customers's country of origin.*
* Variables of interest are:
    - **InvoiceDate** to calculate ***Recency***.
    - **InvoiceNo** to calculate ***Frequency***.
    - **Quantity** and **UnitPrice** to calculate ***Monetary***.

***
**2.2** *Data cleaning*<a id = '2.2'></a>
***
This section shows process of cleaning the data. Task carried out in this section are removing customers with no ID, removing cancelled order and removing records from 2010. Records from 2010 are removed so that we can focus our analysis on transactions from the year 2011.

In [39]:
# Remove customer with no id
full_df.dropna(subset=['CustomerID'], how='all', inplace=True)

# Keep only transaction where quantity is more than 0 (canceled order)
full_df = full_df[full_df['Quantity'] > 0]

# RFM analysis for 2011 only, records from 2010 will be removed
full_df = full_df[full_df['InvoiceDate']>= "2011-01-01"]

# change customerID datatype
full_df['CustomerID'] = full_df['CustomerID'].astype('int')

# Print out overview of final full_df
print("* Total unique customers:", full_df['CustomerID'].nunique())
print("* Total unique items:", full_df['StockCode'].nunique())
print("* Total unique transactions:", full_df['InvoiceNo'].nunique())

* Total unique customers: 3165
* Total unique items: 3324
* Total unique transactions: 9786

[Back to Table of Content](#TOC)

# 3. Recency-Frequency-Monetary (RFM) Analysis <a id = '3'></a>

***
**3.1** *Recency*<a id = '3.1'></a>
***
The ***Recency*** metric measures the time since the last activity done by the customer. For this analysis, the activity is defined as a customer's transactions.

In [67]:
# convert date to datetime index
full_df['InvoiceDate'] = pd.DatetimeIndex(full_df['InvoiceDate']).date

# use the day after the latest date in dataframe as the reference date
date_ref = full_df['InvoiceDate'].max() + timedelta(days = 1)

# Create a new dataframe to calculate recency
rec_df = full_df.groupby(by = 'CustomerID', as_index = False)['InvoiceDate'].max()
rec_df.columns = ['CustomerID', 'LastInvoiceDate']

# calculate days since last purchase based on reference date
days_since = np.zeros(len(rec_df['LastInvoiceDate'].index), dtype = 'int') 
i = 0
for date in rec_df['LastInvoiceDate']:
    
    days_since[i] = (date_ref - date).days
    i = i + 1
    
# Add recency column to dataframe
rec_df['Recency'] = days_since

# drop LastInvoiceDate
rec_df = rec_df.drop('LastInvoiceDate', axis = 1)

# Show rec_df
display(rec_df.head())
print("\n* Shape:", rec_df.shape)

   CustomerID  Recency
0       12347       60
1       12348        6
2       12352        3
3       12353      135
4       12354      163

* Shape: (3165, 2)

[Back to Table of Content](#TOC)

***
**3.2** *Frequency*<a id = '3.2'></a>
***

The ***Frequency*** metric measures the frequency at which a customer engages in an activity. Similar to the last section, activity here refers to a customer's transaction.

In [55]:
# Extract each unique InvoiceNo
temp_df = full_df
temp_df = temp_df.drop_duplicates(subset = ['InvoiceNo', 'CustomerID'], keep = 'first')

# Calculate frequency of purchase
freq_df = temp_df.groupby(by = ['CustomerID'], as_index = False)['InvoiceNo'].count()
freq_df.columns = ['CustomerID', 'Frequency']

# Show frequency dataframe
display(freq_df.head())
print("\n* Shape:", freq_df.shape)

   CustomerID  Frequency
0       12347          3
1       12348          2
2       12352          6
3       12353          1
4       12354          1

* Shape: (3165, 2)

[Back to Table of Content](#TOC)

***
**3.3** *Monetary value*<a id = '3.3'></a>
***
The ***Monetary*** metric keeps track of the purchasing power of a customer. In this analysis, it is measured as the total transaction value of the customer.

In [54]:
# Create total cost column
full_df['TotalCost'] = full_df['Quantity'] * full_df['UnitPrice']

# create monetary dataframe
mon_df = full_df.groupby(by = 'CustomerID', as_index = False).agg({'TotalCost': 'sum'})
mon_df.columns = ['CustomerID','Monetary']

# Show monetray dataframe
display(mon_df.head())
print("\n* Shape:", mon_df.shape)

   CustomerID  Monetary
0       12347   1603.68
1       12348    677.00
2       12352   1897.81
3       12353     89.00
4       12354   1079.40

* Shape: (3165, 2)

[Back to Table of Content](#TOC)

***
**3.4** *R-F-M table*<a id = '3.4'></a>
***
The ***Recency***, ***Frequency*** and ***Monetary*** dataframe were then merged into one single dataframe.

In [73]:
# merge the dataframe
rfm_df = rec_df.merge(freq_df, on='CustomerID').merge(mon_df, on='CustomerID')

# customer id as index
rfm_df = rfm_df.set_index('CustomerID')

# show rfm table
display(rfm_df.head())
print("\n* Shape:", rfm_df.shape)

            Recency  Frequency  Monetary
CustomerID
12347            60          3   1603.68
12348             6          2    677.00
12352             3          6   1897.81
12353           135          1     89.00
12354           163          1   1079.40

* Shape: (3165, 3)

[Back to Table of Content](#TOC)

***
**3.5** *R-F-M score*<a id = '3.5'></a>
***
The R-F-M score would then be determined based on which quartile the ***Recency***, ***Frequency*** and ***Monetary*** values are on. The score ranges from 1 to 4, with 1 being the best score. For ***Recency*** values: *The lower it is, the better the score*. For ***Frequency*** and ***Monetary*** values: *The higher it is, the better the score.*

In [74]:
# calculate quartiles
quartile_df = rfm_df.quantile([0.25, 0.5, 0.75])
display(quartile_df)

      Recency  Frequency  Monetary
0.25     16.0        1.0    274.60
0.50     48.0        2.0    552.00
0.75    113.0        3.0   1259.67

In [78]:
# Create R, F and M array
r_score = np.zeros(len(rfm_df.index), dtype = 'int')
f_score = np.zeros(len(rfm_df.index), dtype = 'int')
m_score = np.zeros(len(rfm_df.index), dtype = 'int')

# calculate R score
i = 0
for recency in rfm_df['Recency']:
    if recency <= quartile_df['Recency'][0.25]:
        r_score[i] = 1
        i = i + 1
    elif recency <= quartile_df['Recency'][0.5]:
        r_score[i] = 2
        i = i + 1
    elif recency <= quartile_df['Recency'][0.75]:
        r_score[i] = 3
        i = i + 1
    else:
        r_score[i] = 4
        i = i + 1
        
# Add R column
rfm_df['R'] = r_score

# calculate F score
i = 0
for frequency in rfm_df['Frequency']:
    if frequency <= quartile_df['Frequency'][0.25]:
        f_score[i] = 4
        i = i + 1
    elif frequency <= quartile_df['Frequency'][0.5]:
        f_score[i] = 3
        i = i + 1
    elif frequency <= quartile_df['Frequency'][0.75]:
        f_score[i] = 2
        i = i + 1
    else:
        f_score[i] = 1
        i = i + 1
        
# Add F column
rfm_df['F'] = f_score

# calculate M score
i = 0
for monetary in rfm_df['Monetary']:
    if monetary <= quartile_df['Monetary'][0.25]:
        m_score[i] = 4
        i = i + 1
    elif monetary <= quartile_df['Monetary'][0.5]:
        m_score[i] = 3
        i = i + 1
    elif monetary <= quartile_df['Monetary'][0.75]:
        m_score[i] = 2
        i = i + 1
    else:
        m_score[i] = 1
        i = i + 1
        
# Add M column
rfm_df['M'] = m_score


# show RFM_df
display(rfm_df.head())

            Recency  Frequency  Monetary  R  F  M
CustomerID
12347            60          3   1603.68  3  2  1
12348             6          2    677.00  1  3  2
12352             3          6   1897.81  1  1  1
12353           135          1     89.00  4  4  4
12354           163          1   1079.40  4  4  2

[Back to Table of Content](#TOC)

# 4. Key Segments <a id = '4'></a>

This section shows some important segments which should be focused on. The interpretation is based on this [blog post](#https://www.blastam.com/blog/rfm-analysis-boosts-sales).

***
**4.1** *Best Customers*<a id = '4.1'></a>
***
* Best customers are the customers bought most recently, most often and spend the most.

In [83]:
# Find out who are the best customers (111)
best_customers = rfm_df[(rfm_df['R'] == 1) & (rfm_df['F'] == 1) & (rfm_df['M'] == 1)]
display(best_customers.head())
print('\nTotal Customers in this segment:', len(best_customers.index))

            Recency  Frequency  Monetary  R  F  M
CustomerID
12352             3          6   1897.81  1  1  1
12362             3          4   2098.24  1  1  1
12437             9          8   2051.05  1  1  1
12457            12          6   2166.88  1  1  1
12471             9         14   5816.65  1  1  1

Total Customers in this segment: 269

***Suggested marketing strategies:***
   * No price incentives
   * New products
   * Loyalty programs

[Back to Table of Content](#TOC)

***
**4.2** *Loyal Customers*<a id = '4.2'></a>
***
Loyal customers are customers who bought most frequently.

In [84]:
# Find out who are the loyal customers (x1x)
loyal_customers = rfm_df[(rfm_df['F'] == 1)]
display(loyal_customers.head())
print('\nTotal Customers in this segment:', len(loyal_customers.index))

            Recency  Frequency  Monetary  R  F  M
CustomerID
12352             3          6   1897.81  1  1  1
12362             3          4   2098.24  1  1  1
12395            43          5    988.14  2  1  2
12399            50          4   1108.65  3  1  2
12407            65          4   1407.36  3  1  1

Total Customers in this segment: 760

***Suggested marketing strategies:***
   * Loyalty programs

[Back to Table of Content](#TOC)

***
**4.3** *Big Spenders*<a id = '4.3'></a>
***
Big spenders are customers who spend the most.

In [85]:
# Find out who are the big spenders (xx1)
big_spenders = rfm_df[(rfm_df['M'] == 1)]
display(big_spenders.head())
print('\nTotal Customers in this segment:', len(big_spenders.index))

            Recency  Frequency  Monetary  R  F  M
CustomerID
12347            60          3   1603.68  3  2  1
12352             3          6   1897.81  1  1  1
12360            43          2   1618.28  2  3  1
12362             3          4   2098.24  1  1  1
12378            60          1   4008.62  3  4  1

Total Customers in this segment: 791

***Suggested marketing strategies:***
   * Recommend expensive products

[Back to Table of Content](#TOC)

***
**4.4** *Almost Lost*<a id = '4.4'></a>
***
Almost lost are customers who haven't purchased for some time but have purchased frequently and spend the most. The last two criterias suggest that these customers are worth investing on.

In [88]:
# Find out who are the almost lost customers(311)
almost_lost = rfm_df[(rfm_df['R'] == 3) & (rfm_df['F'] == 1) & (rfm_df['M'] == 1)]
display(almost_lost.head())
print('\nTotal Customers in this segment:', len(almost_lost.index))

            Recency  Frequency  Monetary  R  F  M
CustomerID
12407            65          4   1407.36  3  1  1
12428            51          8   7548.12  3  1  1
12431            50          6   2663.29  3  1  1
12481           110          5   2707.33  3  1  1
12524            93          4   2259.75  3  1  1

Total Customers in this segment: 65

***Suggested marketing strategies:***
   * Aggresive price incentives

[Back to Table of Content](#TOC)

***
**4.5** *Lost Customers*<a id = '4.5'></a>
***
Lost customers are customers who haven't purchased for a long time, but purchased frequently and spen the most.

In [89]:
# Find out who are the lost customers(311)
lost = rfm_df[(rfm_df['R'] == 4) & (rfm_df['F'] == 1) & (rfm_df['M'] == 1)]
display(lost.head())
print('\nTotal Customers in this segment:', len(lost.index))

            Recency  Frequency  Monetary  R  F  M
CustomerID
12613           128          4   1462.52  4  1  1
12779           120          4   1800.83  4  1  1
13015           128          4   1763.04  4  1  1
13883           149          4   1742.78  4  1  1
17504           137          7   2209.60  4  1  1

Total Customers in this segment: 6

***Suggested marketing strategies:***
   * Aggresive price incentives

[Back to Table of Content](#TOC)

***
**4.6** *Lost Cheap Customers*<a id = '4.6'></a>
***
Lost cheap customers are customers who haven't purchased for a long time, only purchased a few items and spent very little. These three criteria means they are not worth much investment.

In [90]:
# Find out who are the lost cheap customers(444)
lost_cheap = rfm_df[(rfm_df['R'] == 4) & (rfm_df['F'] == 4) & (rfm_df['M'] == 4)]
display(lost_cheap.head())
print('\nTotal Customers in this segment:', len(lost_cheap.index))

            Recency  Frequency  Monetary  R  F  M
CustomerID
12353           135          1     89.00  4  4  4
12413           167          1     84.65  4  4  4
12506           163          1     73.50  4  4  4
12573           158          1    160.54  4  4  4
12596           173          1    269.95  4  4  4

Total Customers in this segment: 342

[Back to Table of Content](#TOC)